<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TC.PhotoImporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="EnableWindowsFormsHighDpiAutoResizing" value="true"/>
    </appSettings>
    <userSettings>
        <TC.PhotoImporter.Properties.Settings>
            <setting name="SourceFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DestinationFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxWidthOrHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Quality" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="DeleteSourceFiles" serializeAs="String">
                <value>False</value>
            </setting>
        </TC.PhotoImporter.Properties.Settings>
    </userSettings>
</configuration>